extends ../layout

block content
    .container
        .row
            .panel.panel-primary
                .panel-heading
                    .panel-title 学生信息
                table.table.table-hover
                    thead
                        tr
                            th 学号
                            th 姓名
                            th 性别
                            th 学分
                            th 学院
                            th 用户名
                    tbody
                        each info in data
                            tr
                                td #{info.id}
                                td #{info.name}
                                td #{info.sex}
                                td #{info.credits}
                                td #{info.department}
                                td #{info.userName}
            
           button.btn.btn-primary(type="button" style="float:right",onclick="window.open('stureportdl')") 下载报表