extends ../layout_main

block content

    script.
        var filterNum = 1;
        var classNum;

        function init(num) {
            // 初始化
            classNum = num;
            for (var i = 1; i<=7; i++) {
                $('#filter'+i).hide();
            }
            $('.classDetailBlock').hide();

            // 筛选名称
            $('.filterName').click(function () {
                var str = $(this).attr('id');
                var num = parseInt(str.charAt(str.length - 1));
                $('#filterName'+num).html($(this).text() + '<span class="caret">');
            });

            // 筛选运算符
            $('.filterOp').click(function () {
                var str = $(this).attr('id');
                var num = parseInt(str.charAt(str.length - 1));
                $('#filterOp' + num).html($(this).text() + '<span class="caret">');
            });

            // 删除筛选
            $('.filterDelete').click(function () {
                var str = $(this).attr('id');
                var num = parseInt(str.charAt(str.length - 1));
                if (filterNum == 1) {
                    return;
                }
                for (var i=num; i<filterNum-1; i++) {
                    var ii = i + 1;
                    $('#filterName' + i).html($('#filterName' + ii).html());
                    $('#filterOp' + i).html($('#filterOp' + ii).html());
                    $('#filterContent' + i).val($('#filterContent' + ii).val());
                }
                $('#filterName' + (filterNum-1)).html('课程名称<span class="caret">');
                $('#filterOp' + (filterNum-1)).html('包含<span class="caret">');
                $('#filterContent' + (filterNum-1)).val('');
                $('#filter' + (filterNum-1)).hide();
                filterNum--;
            });

            // 添加筛选
            $('.filterAdd').click(function () {
                var str = $(this).attr('id');
                var num = parseInt(str.charAt(str.length - 1));
                if (filterNum == 8) {
                    return;
                }
                for (var i = filterNum-1; i > num; i--) {
                    var ii = i+1;
                    $('#filterName' + ii).html($('#filterName' + i).html());
                    $('#filterOp' + ii).html($('#filterOp' + i).html());
                    $('#filterContent' + ii).val($('#filterContent' + i).val());
                }
                $('#filterName' + (num+1)).html('课程名称<span class="caret">');
                $('#filterOp' + (num+1)).html('包含<span class="caret">');
                $('#filterContent' + (num+1)).val('');
                $('#filter' + (filterNum)).show();
                filterNum++;
            });

            // 导航栏选课
            $('.classSelectNav').click(function () {
                var str = $(this).attr('id');
                var num = parseInt(str.substring(str.indexOf('_')+1, str.length));
                $(this).attr('class', 'active');
                $('#classDetailNav_'+num).removeClass('active');
                $('#classSelectBlock_'+num).show();
                $('#classDetailBlock_'+num).hide();
            });

            // 导航栏课程信息
            $('.classDetailNav').click(function () {
                var str = $(this).attr('id');
                var num = parseInt(str.substring(str.indexOf('_') + 1, str.length));
                $(this).attr('class', 'active');
                $('#classSelectNav_'+num).removeClass('active');
                $('#classSelectBlock_' + num).hide();
                $('#classDetailBlock_' + num).show();
            });

            // 展开
            $('.collapseSwitcher').click(function () {
                if ($(this).text() == '展开') $(this).text('合拢');
                else $(this).text('展开');
            })
        }


    - var classNum = classList.length;
    body(onload='init("#{classNum}")')

    // 筛选部分
    .row(style="margin-top:10px; margin-bottom:10px")
        .col-md-7.col-md-push-2
            +filter(0)
            +filter(1)
            +filter(2)
            +filter(3)
            +filter(4)
            +filter(5)
            +filter(6)
            +filter(7)
        .col-md-1.col-md-push-2
            button.btn.btn-primary(type="button") 搜索

    // 列表部分
    .row
        .col-md-12
            .panel.panel-primary
                .panel-heading
                    .row(style='margin-left:10px; margin-right:10px;')
                        .col-md-12
                            mixin panelTitle(title)
                                .col-md-1
                                    h3.panel-title(style='text-align:center')= title
                            +panelTitle('课程代码')
                            +panelTitle('课程名称')
                            +panelTitle('课程类别')
                            +panelTitle('学分')
                            +panelTitle('学期')
                .panel-body
                    each class0, index in classList
                        +classItem(class0['课程代码'], class0['课程名称'], class0['课程网址'], class0['课程类别'], class0['学分'], class0['学期'], class0['详情'], class0['课程信息'], index)



// 筛选部分
//- mixin filter, filterNameItem, filterOpItem
mixin filter(i)
    .filter(id='filter'+i)
        if i!=0
            // 与和或
            .row
                .col-md-1
                    .radio
                        label
                            input(type='radio', name='FilterConnectRadio'+i, value='option1', checked)
                        | 与
                .col-md-1
                    .radio
                        label
                            input(type='radio', name='FilterConnectRadio'+i, value='option2')
                        | 或
        // 筛选条件和筛选运算符
        .row(style)
            .col-md-12
                .input-group
                    .input-group-btn
                        button.btn.dropdown-toggle(id='filterName' + i, type='button', data-toggle='dropdown') 课程名称
                            span.caret
                        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                            mixin filterNameItem(ID, itemText)
                                li(role='presentation')
                                    a.filterName(id=ID role='menuitem', tabindex='-1', style='cursor:pointer')= itemText
                            +filterNameItem('className' + i,    '课程名称')
                            +filterNameItem('classCode' + i,    '课程代码')
                            +filterNameItem('teacherName' + i,  '教师名字')
                            +filterNameItem('classType' + i,    '课程类别')
                            +filterNameItem('classTime' + i,    '上课时间')
                            +filterNameItem('classPlace' + i,   '上课地点')
                            +filterNameItem('semester' + i,     '学期')
                    .input-group-btn
                        button.btn.dropdown-toggle(id='filterOp' + i, type='button', data-toggle='dropdown') 包含
                            span.caret
                        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                            mixin filterOpItem(ID, itemText)
                                li(role='presentation')
                                    a.filterOp(id=ID role='menuitem', tabindex='-1', style='cursor:pointer')= itemText
                            +filterOpItem('contain' + i,          '包含')
                            +filterOpItem('not_contain' + i,     '不包含')
                            +filterOpItem('equal' + i,            '等于')
                            +filterOpItem('not_equal' + i,       '不等于')
                            +filterOpItem('begin_from' + i,      '始于')
                            +filterOpItem('not_begin_from' + i, '并非起始于')
                            +filterOpItem('end_at' + i,           '止于')
                            +filterOpItem('not_end_at' + i,      '并非停止于')
                    input.form-control.col-md-8(id='filterContent'+i, type='text')
                    span.input-group-btn
                        button.filterDelete.btn.btn-default(id='filterDelete'+i, type='button') 删除
                        button.filterAdd.btn.btn-default(id='filterAdd'+i, type='button') 添加



// 课程部分
//- mixin classItem, classAttr, classSelectItem, classSelectAttr
//- id class_i, classBlock_i, classSelectNav_i, classDetailNav_i, classSelectBlock_i, classDetailBlock_i, classSelectButton_i_j
//- class classSelectNav, classDetailNav, classSelectBlock, classDetailBlock, classSelectButton, collapseSwitcher
mixin classItem(classCode, classTitle, classWeb, classType, credit, semester, detailList, classDetail, classIndex)

    // 总课程项
    .panel.panel-default
        .panel-heading
            .row(id='class_'+classIndex,)
                mixin classAttr(str, type, others)
                    .col-md-1
                        if type == 'String'
                            p(style='font-size:15px; text-align:center')= str
                        else if type == 'StringLink'
                            a(style='font-size:15px; text-align:center' href=others)= str
                        else
                            p(style='font-size:15px; text-align:center') Error
                +classAttr(classCode, 'String', '')
                +classAttr(classTitle, 'StringLink', classWeb)
                +classAttr(classType, 'String', '')
                +classAttr(credit, 'String', '')
                +classAttr(semester, 'String', '')
                .col-md-1.col-md-push-6
                    a.collapseSwitcher(data-toggle='collapse', href='#classBlock_'+classIndex) 展开
        .panel-collapse.collapse(id='classBlock_'+classIndex)
            .panel-body
                // 具体课程框
                .row(style='margin-left:10px; margin-right:10px')
                    .col-md-12
                        // 导航栏
                        .row
                            nav.navbar.navbar-default(role='navigation', style='height=30px')
                                ul.nav.navbar-nav
                                    li.classSelectNav.active(id='classSelectNav_'+classIndex): a(style='cursor:pointer') 选课
                                    li.classDetailNav(id='classDetailNav_'+classIndex): a(style='cursor:pointer') 课程信息
                        // 具体选课项
                        .row.classSelectBlock(id='classSelectBlock_'+classIndex)
                            mixin classSelectItem(classCode1, classTitle1, classWeb1, classType1, teacherName1, credit1, classTime1, classPlace1, semester1, classIndex1, detailIndex1)
                                .row(style='margin-left:10px; margin-right:10px;')
                                    mixin classSelectAttr(str, type, others)
                                        .col-md-1(style='')
                                            if type == 'String'
                                                p(style='font-size:13px;')= str
                                            else if type == 'StringLink'
                                                a(style='font-size:13px;', href=others)= str
                                            else if type == 'Button'
                                                button.btn.btn-primary.classSelectButton(id='classSelectButton_'+classIndex1+'_'+detailIndex1, type="button") 选课
                                            else
                                                p(style='font-size:13px') Error
                                    +classSelectAttr(classCode1, 'String', '')
                                    +classSelectAttr(classTitle1, 'StringLink', classWeb1)
                                    +classSelectAttr(classType1, 'String', '')
                                    +classSelectAttr(teacherName1, 'String', '')
                                    +classSelectAttr(credit1,     'String', '')
                                    +classSelectAttr(classTime1, 'String', '')
                                    +classSelectAttr(classPlace1, 'String', '')
                                    +classSelectAttr(semester1,     'String', '')
                                    +classSelectAttr('',         'Button', '')
                            each detail, detailIndex in detailList
                                +classSelectItem(classCode, classTitle, classWeb, classType, detail['教师名称'], credit, detail['上课时间'], detail['上课地点'], semester, classIndex, detailIndex)
                        .row.classDetailBlock(id='classDetailBlock_'+classIndex)
                            mixin classDetailItem(classCode2, classEnglishTitle2, classDepartment2, credit2, classHour2, classWeight2, classBelong2, classPrerequisite2, classDescription2, classSyllabus2)
                                mixin classDetailAttr(str1, str2)
                                    .row
                                        .col-md-2
                                            p(style='font-size:13px; margin-left:10px;')= str1
                                        .col-md-10
                                            p(style='font-size:13px')= str2
                                +classDetailAttr('课程代码：', classCode2)
                                +classDetailAttr('课程英文名称：', classEnglishTitle2)
                                +classDetailAttr('开课学院：', classDepartment2)
                                +classDetailAttr('学分：', credit2)
                                +classDetailAttr('周学时：', classHour2)
                                +classDetailAttr('权重系数：', classWeight2)
                                +classDetailAttr('课程归属：', classBelong2)
                                +classDetailAttr('预修要求：', classPrerequisite2)
                                +classDetailAttr('课程简介：', classDescription2)
                                +classDetailAttr('教学大纲：', classSyllabus2)
                            +classDetailItem(classCode, classDetail['课程英文名称'], classDetail['开课学院'], credit, classDetail['周学时'], classDetail['权重系数'], classDetail['课程归属'], classDetail['预修要求'], classDetail['课程简介'], classDetail['教学大纲'])


